<div class="roomContainer">
  <h1>Welcome to {{hotelName}}</h1>
  <div [hidden]="hideRooms">
    <h2>Number of rooms:</h2>
    <!--  <div [innerText]="numberOfRooms"></div>-->
    {{rooms.availableRooms ?? "No rooms"}}
    <div *ngIf="rooms.availableRooms > 0">
      <h3>Rooms List</h3>
      <table>
        <tr>
          <th>Idx</th>
          <th>Even/Odd</th>
          <th>Room Number</th>
          <th>Room Type</th>
          <th>Room Price</th>
          <th>Room Amenities</th>
          <th>Checkin Times</th>
          <th>Checkou Times</th>

        </tr>
        <tr *ngFor="let room of roomsList; let e=even; let o=odd;let i=index" id="{{i}}"
            ngClass="{{e ? 'even' : 'odd'}}">
          <td>{{i}}</td>
          <td>{{e ? "Even" : "Odd"}}</td>
          <td>{{room.roomNumber}}</td>
          <td>{{room.roomType}}</td>
          <td>{{room.price}}</td>
          <td>{{room.amenities}}</td>
          <td>{{room.checkInTime}}</td>
          <td>{{room.checkOutTime}}</td>
        </tr>
      </table>
    </div>
  </div>

  <button class="toggleBtn" (click)="toggle()">Toggle</button>
</div>
