.roomContainer {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  width: 100%;
  justify-content: center;
  align-items: center;
  .toggleBtn {
    padding: .5rem 1rem;
    border-radius: 4px;
    font-weight: 600;
    border: 1px solid #213042;
    background: #001122;
    transition: .25s ease-in-out;
    color: white;
    cursor: pointer;

    &:hover {
      border-color: white;
    }
  }

  th {
    background: #303a46;
  }

  th, td {
    padding: .5rem 1rem;
  }

  tr {
    &.even {
      background: #001122;
    }

    &.odd {
      background: #213042;
    }
  }

}
