<div class="roomContainer">
  <h1>Welcome to {{hotelName}}</h1>
  <div [hidden]="hideRooms">
    <h2>Number of rooms:</h2>
<!--    {{roomsList | json}}-->

    <div *ngIf="rooms.availableRooms > 0">
      <h3>Rooms List</h3>
      <table>
        <tr>
          <th>Idx</th>
          <th>Room Number</th>
          <th>Room Type</th>
          <th>Room Price</th>
          <th>Room Amenities</th>
          <th>Checkin Times</th>
          <th>Checkout Times</th>

        </tr>
        <tr *ngFor="let room of roomsList | slice: 0:1; let e=even; let o=odd;let i=index" id="{{i}}"
            ngClass="{{e ? 'even' : 'odd'}}">
          <td>{{i}}</td>
          <td>{{room.roomNumber}}</td>
          <td>{{room.roomType}}</td>
          <td>{{room.price | currency: 'EUR'}}</td>
          <td>{{room.amenities}}</td>
          <td>{{room.checkInTime | date}}</td>
          <td>{{room.checkOutTime | date}}</td>

        </tr>
      </table>
    </div>
  </div>

  <button class="toggleBtn" (click)="toggle()">Toggle</button>
</div>
